[Unit]
Description=etcd

[Service]
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0
ExecStartPre=/usr/local/bin/etcd-init.sh
ExecStart=/usr/local/bin/etcd --config-file /etc/etcd/etcd.conf

[Install]
WantedBy=multi-user.target
